{% extends "base.html" %}
{% load static %}
{% block title %} LittleURL {% endblock title %}
{% block content %}
<header>
        <nav>
            {% if user_is_logged_in %}<a href="./user_urls">Mis urls</a>{% endif %}
            <a href="./login">Iniciar sesión</a>
            <a href="./register">Registrarse</a>
            <a href="./logout">Cerrar sesión</a>
        </nav>
        <a href="./"><img src="{% static "url_short/cowboy_possum.png" %}" alt="Cowboy possum"></a>
</header>
    <h1>LittleURL</h1>
    {% if user_is_logged_in %}
        <h3>Bienvenido {{ user }} a LittleURL, introduzca el enlace que quiere acortar</h3>
        <form method="post">
            {% csrf_token %}
            <label for="og_url">Url:</label>
            <input name="og_url" id="og_url" type="text" required>
            <label for="url">Nombre nuevo para el enlace:</label>
            <input name="url" id="url" type="text" required>
            <input type="submit">
        </form>
    {% else %}
        <h3>Bienvenido a </h3>
    {% endif %}

    {% if request_headers %}
        {% for header in request_headers %}
        <p>{{ header }}</p>
        {% endfor %}
    {% endif %}
{% endblock content %}