{% extends "base.html" %}
{% load static %}
{% block title %} LittleURL - Home {% endblock title %}
{% block scripts %}
<script>
    function copy_url() {
        var copyText = document.getElementById("url_to_copy");
      
        console.log(copyText)

        navigator.clipboard.writeText(copyText.getAttribute("href"));
      }
</script>
{% endblock scripts %}
{% block content %}
<header>
        <nav>
            {% if user_is_logged_in %}<a href="./user-urls">Mis urls</a>{% endif %}
            <a href="./login">Iniciar sesión</a>
            <a href="./register">Registrarse</a>
            <a href="./logout">Cerrar sesión</a>
        </nav>
        <div class="image-container">
            <a href="./"><img src="{% static "url_short/cowboy_possum.png" %}" alt="Cowboy possum"></a>
        </div>
</header>
    <h1>LittleURL</h1>
    {% if user_is_logged_in %}
        <h3>Bienvenido {{ user| title }} a LittleURL, introduzca el enlace que quiere acortar</h3>
        <form method="post" id="create-url-form">
            {% csrf_token %}
            <div class="form-row">    
                <label for="og_url">Url:</label>
                <input name="og_url" id="og_url" type="text" required>
            </div>
            <div class="form-row">
                <label for="url">Nombre nuevo para el enlace:</label>
                <input name="url" id="url" type="text" required>
            </div>
            <input type="submit">
        </form>
    {% else %}
        <h3>Bienvenido a LittleURL, inicie sesión para empezar a acortar enlaces</h3>
    {% endif %}

    {% if POST == "POST" %}
        <div id="url_created">
            <p>Creaste exitosamente tu url, el link de tu url es <a id="url_to_copy" href="{{ url_link }}">{{ url_link }}</a> <button id="special_btn" onclick="copy_url()"><img src="{% static 'url_short/Copy_img.png' %}" alt="copy" id="copy_img"></button></p>
            <p>Puedes saber más información acerca de tu url en <a href="./user-urls">user urls</a></p>
        </div>
    {% endif %}
{% endblock content %}