{% extends "base.html" %}
{% load static %}
{% block title %} LittleURL - Log In {% endblock title %}
{% block content %}
<header>
        <nav>
            {% if user_is_logged_in %}<a href="./user-urls">Mis urls</a>{% endif %}
            <a href="./">Inicio</a>
            <a href="./register">Registrarse</a>
            <a href="./logout">Cerrar sesión</a>
        </nav>
        <div class="image-container">
            <a href="./"><img src="{% static "url_short/cowboy_possum.png" %}" alt="Cowboy possum"></a>
        </div>
</header>
    <h1>Iniciar Sesión</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input name="username" id="username" type="text" required>
        <label for="password">Password:</label>
        <input name="password" id="password" type="password" required>
        <input type="submit">
    </form>
    <div id="google-login">
        <a id="google-login-btn" href="http://127.0.0.1:8000/accounts/google/login/?process=login"><img src="https://d1ayxb9ooonjts.cloudfront.net/bitly2/DC9369588A3C994587104B35CF7B153A50E6B1FF.svg" alt="Google logo"><span>Google</span></a>
    </div>
    </div>
{% endblock content %}