{% extends "base.html" %}
{% load static %}
{% block title %} LittleURL - Register {% endblock title %}
{% block content %}
{% load socialaccount %}
<header>
        <nav>
            {% if user_is_logged_in %}<a href="./user-urls">Mis urls</a>{% endif %}
            <a href="./">Inicio</a>
            <a href="./login">Iniciar sesión</a>
            <a href="./logout">Cerrar sesión</a>
        </nav>
        <div class="image-container">
            <a href="./"><img src="{% static "url_short/cowboy_possum.png" %}" alt="Cowboy possum"></a>
        </div>
</header>
    <h1>Register</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input name="username" id="username" type="text" required>
        <label for="email">Email:</label>
        <input name="email" id="email" type="text" required>
        <label for="password">Password:</label>
        <input name="password" id="password" type="password" required>
                <div id="google-login">
            <a id="google-login-btn" href="{% provider_login_url 'google' %}?next=/"><img src="https://d1ayxb9ooonjts.cloudfront.net/bitly2/7D3D4B49B3CB108E9DD416FA967849FBABBC49CF.svg" alt="Google logo"><span>Google</span></a>
        </div>
        <input type="submit">
    </form>
{% endblock content %}