{% extends "base.html" %}
{% load static %}
{% block link %}
    <link rel="stylesheet" href="{% static "url_short/style.css" %}">
{% endblock link %}
{% block title %} Register {% endblock title %}

{% block content %}
    <header>
        <img src="https://i.ibb.co/1Mr2hnh/cowboy-possum.png" alt="Cowboy possum">
    </header>
    <h1>Register</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input name="username" id="username" type="text" required>
        <label for="email">Email:</label>
        <input name="email" id="email" type="text" required>
        <label for="password">Password:</label>
        <input name="password" id="password" type="password" required>
        <input type="submit">
    </form>
{% endblock content %}