* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #DDD0C8;
}

header {
    background-color: #fbfbf0;
    display: flex;
    flex-direction: column;
}

h1, h3 {
    text-align: center;
}

h3 {
    font-weight: 100;
}

header img {
    max-width: 100%;
    width: 100px;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}

nav a {
    text-decoration: none;
    color: #323232;
    padding: 0px 10px;
    font-size: larger;
}

form {
    display: flex;
    flex-direction: column;
}

input[type=submit] {
    background-color: #fbfbf0;
    margin-top: 2%;
}

button {
    background-color: rgb(218, 19, 19);
    margin-top: 5%;
}


form label {
    padding: 1% 0px;
    font-size: x-large;
}

.change-url-form label {
    font-size: medium;
}

.my-urls img {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    align-self: flex-start;
}

.my-urls {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

span {
    align-self: center;
}