* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #DDD0C8;
}

header {
    background-color: #fbfbf0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

h1, h3 {
    text-align: center;
}

h3 {
    font-weight: 100;
}

header img {
    max-width: 100%;
    width: 100px;
}
div#google-login {
    display: flex;
}

#google-login-btn {
    display: flex;
    background-color:#fbfbf0;
}

#google-login-btn img {
    height: 30px;
}

#google-login-btn span {
    font-size: larger;
    color: #323232;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}

nav a {
    color: #323232;
    padding: 0px 10px;
    font-size: larger;
}

form {
    display: flex;
    flex-direction: column;
    padding: 0px 10%;
}

input[type=submit] {
    background-color: #fbfbf0;
    margin-top: 2%;
}


form label {
    padding: 1% 0px;
    font-size: x-large;
}

.change-url-form label {
    font-size: medium;
}

.my-urls img {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    align-self: flex-start;
}

.my-urls {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

span {
    align-self: center;
}

div.form-row {
    padding-top: 10px;
}

div#google-login {
    padding-top: 10px;
    padding-bottom: 10px;
}